<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:c="http://www.springframework.org/schema/c"

        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--This is our bean-->

<!--    <bean class="com.spring.Student" name="student1">-->
<!--        <property name="studentId">-->
<!--            <value>166</value>-->
<!--        </property>-->
<!--        <property name="studentName">-->
<!--            <value>Deepan Behera</value>-->
<!--        </property>-->
<!--        <property name="studentAddress">-->
<!--            <value>Bhubaneswar</value>-->
<!--        </property>-->


<!--        Implementing spring IOC using another way-->

<!--        <property name="studentId" value="23244"/>-->
<!--        <property name="studentName" value="Mihir Dash"/>-->
<!--        <property name="studentAddress" value="Mathura"/>-->
<!--    </bean>-->

<!--&lt;!&ndash;    // Adding data for another student object&ndash;&gt;-->

<!--    <bean class="com.spring.Student" name="student2">-->
<!--        <property name="studentId" value="206787"/>-->
<!--        <property name="studentName" value="Prem Kumar"/>-->
<!--        <property name="studentAddress" value="Vrindavan"/>-->
<!--    </bean>-->

<!--    implementing spring IOC container using P-Schema-->

    <bean class="com.spring.Student" name="student1" p:studentId="2390" p:studentName="Deepan Kumar" p:studentAddress="Gujarat"/>
</beans>